
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model CreateRobotModalViewModel
<style>
    body {
        background-color: black;
    }
</style>
<audio preload="auto" autoplay>
    <source src="~/audio/Star_Wars_original_opening_crawl_1977.mp3" type="audio/mpeg">
</audio>
<section class="intro">
    A week ago, in Tampa...
</section>

<section class="logo">
    <img class="galactic" src="https://fontmeme.com/permalink/190416/8075d1392c0d185d19e9b49174fdbbd0.png" />
    <img class="botServices" src="https://fontmeme.com/permalink/190416/0c3d128f26a6997d8a75bd304d996234.png" />
</section>
<script src="~/js/StarWars.js"></script>
<div id="board">
    <div id="content">
        <p id="title">Leaderboard</p>
        <p id="subtitle">THE CODER'S MENACE</p>
        <br>
        @if (Model.Leaderboard.Count >= 1)
        {
            <ol class="leaderboardList">
                @foreach (var robot in Model.Leaderboard)
                {
                    <li><strong>@robot.RobotName</strong> has completed <strong>@robot.NumberOfChoresCompleted</strong> chores</li>
                }
            </ol>
        }
        else
        {
            <div> no results </div>
        }
    </div>
</div>
<div class="text-center">
    @Html.ActionLink("But Seriously, Here Is the Leaderboard", "Leaderboard", "Home", null, new { @class = "btn btnSeriously btn-primary btn-lg", @style="display:none"})
</div>
@await Html.PartialAsync("_CreateRobotModal", Model)
<script>
    $(document).ready(function () {
        setTimeout(function () { $('.btnSeriously').show() }, 20000)
    });
</script>